#authForm {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

#resendAuthContainer {
    width: 100%;
    margin-top: 20px;
    text-align: center;
    font-size: 13px;
    color: #9599af;
}