#contactTitle {
    margin-bottom: 5px;
    text-align: center;
    flex-basis: 100%;
    font-size: 17px;
}

#contactSubTitle {
    margin: 0 auto;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 300;
}

#contactForm {
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    #contactSubTitle {
        font-size: 12px;
    }
}