#faqTitle {
    margin-bottom: 5px;
    text-align: center;
    flex-basis: 100%;
    font-size: 17px;
}

#faqSubTitle {
    margin: 0 auto;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 300;
}

#questionsContainer {
    width: 100%;
    margin: 0 auto;
    margin: 20px 0 20px 0;
    font-size: 14px;
    font-weight: 400;
}

.questionText {
    margin-bottom: 3px;
    font-size: 15px;
}

.answerText {
    font-size: 14px;
    font-weight: 300;
}

#donationContainer {
    margin-top: 10px;
}

.donationType {
    padding-Top: 5px;
    font-weight: 300;
    font-size: 13px;
}


@media only screen and (max-width: 600px) {

}