#footerContainer {
    margin: 0 auto;
    margin: 40px 10px 20px 10px;
    box-sizing: border-box;
    font-size: 13px;
    font-weight: 300;
    box-sizing: border-box;
}

.footerLink {
    margin-right: 10px;
    color: #b8b8b8;
    text-decoration: none;
    cursor: pointer;
}

.footerLink:hover {
    color: #ffffff;
}