#headerContainer {
    border-bottom: 1px solid;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    border-color: #152642;
}

#headerLogo {
    font-size: 23px;
    font-weight: 200;
    cursor: pointer;
}

#headerLinksContainer {
    padding-right: 10px;
    text-align: right;
    font-size: 14px;
}

.headerLink {
    margin-left: 20px;
    cursor: pointer;
    color: #b8b8b8;
}

.headerLink:hover {
    color: #ffffff;
}