#homepageContainer {
    
}

#welcomeTitle {
    margin-top: 40px;
    margin-bottom: 5px;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}

#welcomeSubTitle {
    margin: 0 auto;
    font-size: 15px;
    font-weight: 300;
}

#quoteContainer {
    border-left: 8px solid;
    min-width: 300px;
    max-width: 450px;
    margin: 0 auto;
    margin-top: 60px;
    padding: 15px 0 15px 10px;
    display: inline-block;
    font-size: 18px;
    font-weight: 300;
    text-align: left;
    box-sizing: border-box;
    color: #ffffff;
    background-color: inherit;
}

#viewContainer {
    max-width: 600px;
    padding: 20px 15px 20px 15px;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    background-color: #2e313e;
    color: #ffffff;
}