body {
    max-width: 800px;
    margin: 0 auto;
    font-family: 'Sora', sans-serif;
    background-color: #262833;
    color: #ffffff;
}

.errorMessage {
    max-width: 300px;
    margin-right: 15px;
    padding: 5px 0 5px 0;
    font-size: 14px;
    color: #CF6679;
}

#successMessage {
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    display: flex;
    align-items: center;
}

#successCheckmark {
    height: 30px;
    margin-right: 10px;
}

.unsubscribeLink, .newAuthCodeLink {
    cursor: pointer;
    color: #9599af;
}

.unsubscribeLink:hover, .newAuthCodeLink:hover {
    color: #ffffff;
}

.newAuthCodeMessage {
    margin-top: 5px;
    color: #ffffff;
    font-size: 14px;
}

@media only screen and (max-width: 600px) {
    body {
        padding: 10px;
    }
}