#signUpTitle {
    margin-bottom: 15px;
    text-align: left;
    flex-basis: 100%;
    font-size: 17px;
}

#signUpForm {
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

#unsubsribeContainer {
    width: 100%;
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    color: #9599af;
}

@media only screen and (max-width: 600px) {
    #signUpSubTitle {
        font-size: 12px;
    }
}